<p *ngIf="!contacts">
{{statusMessage}}
</p>
<div *ngIf="contacts" class="form-group">
    <input type="text" class="form-control" placeholder="Search By First Name" style="width:300px;" [(ngModel)]="searchTerm"/>
</div>
<div class="row">
    <div class="col-md-4" *ngFor="let c of contacts | contactFilter:searchTerm">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/default-avatar.png" width="200px" height="200px" alt="Card image cap">
          <div class="card-header">
                {{c.FirstName+' '+c.LastName}}
          </div>
          <div class="card-body">
            Phone Numbers:
            <p class="card-text" *ngFor="let p of c.PhoneNumbers">
               {{p.Number}}
            </p>
            Email Addresses:
            <p class="card-text" *ngFor="let e of c.Emails">
               {{e.Address}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary" (click)="editContact(c.Id)">Edit</button>
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteContact(c.Id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>   
</div>